* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}
.active{
    color: purple;
}

.hero {
    margin-top: 7px;
    height: 55px;
    width: 100%;
    border-top: 3px solid purple;
    border-bottom: 1px solid lightgray;
}
nav{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: gray;
    text-decoration: none;
}
nav ul li a:hover {
    color: purple;
    transition: .3s;
}
nav ul li a.active {
    color: purple;
}

section {
    display: flex;
    flex-direction: row;

}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 370px;
    padding-right: 100px;
    padding-left: 100px;
    border-right: 1px solid lightgray;
}

.profile-picture {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: solid 2px purple;
    justify-content: center;
    object-fit: cover;
}
.name {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    color: gray;
    margin-bottom: 10px;
    text-align: center;
}
.title {
    color: gray;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}
.email {
    color: purple;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
}

.header {
    color: gray;
    font-weight: lighter;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-right: 45px;
    padding-left: 45px;
}

.about-text, td{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container{
    height: 450px;
    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
    padding: 20px 45px;
} 
.container, .skills {
    list-style-type: none;
    margin: 20px 0;
}

.heading{
    font-weight: 450;
    font-size: 15px;
}
.skillbar{
    position: relative;
    width: 100%;
    height: 15px;
    border: 1px solid #000;
    padding: 2px;
    margin-top: 10px;
    border-radius: 10px;
}
.skillbar span{
    display: block;
    position: relative;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-image: linear-gradient(to right, #ff8500, #eb1254);
}
.skillbar .html{
    width: 90%;
    animation: html 2s ease-in;
}
.skillbar .css{
    width: 70%;
    animation: css 2s ease-in;
}

.skillbar .react{
    width: 65%;
    animation: react 2s ease-in;
}

.skillbar .python{
    width: 90%;
    animation: python 2s ease-in;
}

@keyframes html{from{width: 10%;}to{width: 90%;}}
@keyframes css{from{width: 10%;}to{width: 70%;}}
@keyframes react{from{width: 10%;}to{width: 65%;}}
@keyframes python{from{width: 10%;}to{width: 90%;}}

table{
    width: 100%;
}
.edu{
    font-size: 15px;
    text-align: left;
}
.location{
    font-size: 15px;
    padding-bottom: 30px;
    color: gray;
}
.cred{
    margin-top: 40px;
    font-size: 15px;
    text-align: left;
    color: gray;
}
.interest{
    margin-top: 20px;
    font-size: 15px;
    text-align: left;
}
footer{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid lightgray;
    font-size: 10px;
    color: gray;
}

@media (min-width: 1500px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box; 
    }
    .active{
        color: purple;
    }
    
    .hero {
        margin-top: 7px;
        height: 55px;
        width: 100%;
        border-top: 3px solid purple;
        border-bottom: 1px solid lightgray;
    }
    nav{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    nav ul li {
        list-style-type: none;
        display: inline-block;
        padding: 10px 20px;
    }
    nav ul li a {
        color: gray;
        text-decoration: none;
    }
    nav ul li a:hover {
        color: purple;
        transition: .3s;
    }
    nav ul li a.active {
        color: purple;
    }
    
    section {
        display: flex;
        flex-direction: row;
    
    }
    
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 370px;
        padding-right: 100px;
        padding-left: 100px;
        border-right: 1px solid lightgray;
    }
    
    .profile-picture {
        margin-top: 30px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        outline: solid 2px purple;
        justify-content: center;
        object-fit: cover;
    }
    .name {
        margin-top: 10px;
        font-size: 17px;
        font-weight: 500;
        color: gray;
        margin-bottom: 10px;
        text-align: center;
    }
    .title {
        color: gray;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: center;
    }
    .email {
        color: purple;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
    }
    
    .header {
        color: gray;
        font-weight: lighter;
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 20px;
        padding-right: 45px;
        padding-left: 45px;
    }
    
    .about-text, td{
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .container{
        height: 450px;
        width: 600px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
        padding: 20px 45px;
    } 
    .container, .skills {
        list-style-type: none;
        margin: 20px 0;
    }
    
    .heading{
        font-weight: 450;
        font-size: 15px;
    }
    .skillbar{
        position: relative;
        width: 100%;
        height: 15px;
        border: 1px solid #000;
        padding: 2px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .skillbar span{
        display: block;
        position: relative;
        height: 100%;
        width: 80%;
        border-radius: 10px;
        background-image: linear-gradient(to right, #ff8500, #eb1254);
    }
    .skillbar .html{
        width: 90%;
        animation: html 2s ease-in;
    }
    .skillbar .css{
        width: 70%;
        animation: css 2s ease-in;
    }
    
    .skillbar .react{
        width: 65%;
        animation: react 2s ease-in;
    }
    
    .skillbar .python{
        width: 90%;
        animation: python 2s ease-in;
    }
    
    @keyframes html{from{width: 10%;}to{width: 90%;}}
    @keyframes css{from{width: 10%;}to{width: 70%;}}
    @keyframes react{from{width: 10%;}to{width: 65%;}}
    @keyframes python{from{width: 10%;}to{width: 90%;}}
    
    table{
        width: 100%;
    }
    .edu{
        font-size: 15px;
        text-align: left;
    }
    .location{
        font-size: 15px;
        padding-bottom: 30px;
        color: gray;
    }
    .cred{
        margin-top: 40px;
        font-size: 15px;
        text-align: left;
        color: gray;
    }
    .interest{
        margin-top: 20px;
        font-size: 15px;
        text-align: left;
    }
    footer{
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-top: 1px solid lightgray;
        font-size: 10px;
        color: gray;
    }
    
}